In [1]:
from boring_semantic_layer.semantic_model import Join, SemanticModel
import ibis

from example_semantic_model import flights_sm, carriers_sm, flights_tbl

print(flights_sm.name)
print(carriers_sm.name)

flights
carriers

In [2]:
flights_sm.json_definition

{'name': 'flights',
 'dimensions': ['origin',
  'destination',
  'carrier',
  'tail_num',
  'arr_time',
  'carriers.code',
  'carriers.name',
  'carriers.nickname'],
 'measures': ['flight_count',
  'avg_dep_delay',
  'avg_distance',
  'carriers.carrier_count'],
 'timeDimension': 'arr_time',
 'smallestTimeGrain': 'TIME_GRAIN_SECOND'}

In [7]:

print("Available dimensions:", flights_sm.available_dimensions)
print("Available measures:", flights_sm.available_measures)
from ibis import _
expr = flights_sm.query(
    dims=[],
    measures=["flight_count"],
    order_by=[],
    time_range={
        "start": "2004-01-01T00:00:00Z",
        "end": "2004-12-31T23:59:59Z"
    },
    #time_grain="TIME_GRAIN_YEAR",
    #filters=[_.destination == "LAX"],
    limit=10,
)
df = expr.execute()
print("\nTop 10 carriers by flight count:")
print(df)

Available dimensions: ['origin', 'destination', 'carrier', 'tail_num', 'arr_time', 'carriers.code', 'carriers.name', 'carriers.nickname']
Available measures: ['flight_count', 'avg_dep_delay', 'avg_distance', 'carriers.carrier_count']

Top 10 carriers by flight count:
   flight_count
0         68303

In [5]:
flights_tbl.select("arr_time").execute()

                  arr_time
0      2004-11-18 23:09:00
1      2004-10-12 21:28:00
2      2004-11-24 11:14:00
3      2004-08-31 21:06:00
4      2004-07-27 10:59:00
...                    ...
344822 2004-09-10 11:48:00
344823 2004-06-17 21:40:00
344824 2004-06-25 13:44:00
344825 2004-07-12 13:43:00
344826 2004-12-16 21:51:00

[344827 rows x 1 columns]

Available dimensions: ['origin', 'destination', 'carrier', 'tail_num', 'carriers.code', 'carriers.name', 'carriers.nickname']
Available measures: ['flight_count', 'avg_dep_delay', 'avg_distance', 'carriers.carrier_count']

Top 10 carriers by flight count:
   flight_count
0         11074